

<div class="footer">
            <!--<div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>-->
            <div>
                <strong>Copyright</strong> Olive Company &copy; 2017
            </div>
        </div>

        </div>
        </div>



<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="/js/js/classie.js"></script>
<script src="/js/js/cbpAnimatedHeader.js"></script>
<script src="/js/js/wow.min.js"></script>


    <!-- Mainly scripts -->
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

    <!-- Peity -->
    <script src="js/plugins/peity/jquery.peity.min.js"></script>
    <!-- Peity demo -->
    <script src="js/demo/peity-demo.js"></script>
    <script src="/js/js/angular.min.js"></script>