<div class = "navbar-wrapper">
        <nav class = "navbar navbar-default navbar-fixed-top" role="navigation">
           <div class = "container">
               <div class = "col-md-3">
                    <div class = "navbar-header page-scroll">
                        <button type="button" class="navbar-toggle collapsed" data-toggle = "collapse" data-target="#navbar" aria-expanded="false" araia-controls="navbar">
                        </button>
                        <a class="navbar-brand" href="#">MyMedia</a>
                    </div>
              </div>
               <div class = "col-md-9">
                    <div class="col-md-12 se">
                          <input type="text" placeholder="Search Media here!!" class="form-control search-input full-search">
                    </div>
                    <div class='col-md-12 '>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="page-scroll" href="/home">Home Page</a></li>
                                <li><a class="page-scroll" href="/mypage">My Page</a></li>
                                <li class="dropdown">
                                    <a class="page-scroll dropdown-toggle" data-toggle="dropdown" href="#">Favorite <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/top10">Top 10</a>
                                        </li>
                                        <li>
                                            <a href="/lastcreated">Lastest</a>
                                        </li>
                                        <li>
                                            <a href="/followed">Followed</a>
                                        </li>
                                        <li>
                                            <a href="/following">Following</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="page-scroll" href="/faq">FAQ</a></li>
                                <li><a class="page-scroll" href="/contact">Contact US</a></li>
                               <li class="dropdown">
                                    <a class="page-scroll dropdown-toggle" data-toggle="dropdown" href="#">Account<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/edit">Edit</a>
                                        </li>
                                        <li>
                                            <a href="/changePassword">ChangePassword</a>
                                        </li>
                                        <li>
                                            <a href="/logout">Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
               </div>
           </div> 
        </nav>
    </div>