.err-input span{
	font-size : 12px;
}
div.circle-border {
    border: 6px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    width: 200px;
    height: 200px;
}
div.circle-border .img-circle,
div.circle-border label {
    width: 100%;
    height: 100%;
}
div.circle-border i {
    font-size: 170px;
    color: #bbb;
}

.chat-users, .chat-statistic {
	margin-left : 0px;
}

.chat-avatar {
    border-radius: 30px;
}
.chat-user:hover {
	background : #fafafa;
	cursor : pointer;
}
textarea.message-input {
    height: 34px !important;
}
.chat-discussion {
	height : 460px;
	background : #fff;
	padding :0px;
    margin-bottom: 50px;
}
.chat-discussion.in-room {
	height : 396px;
}
.chat-users {
    height: 597px;
}
.chat-user.selected {
    background: #f0f0f0;
}

.img-typing {
    margin: -3px 10px 0px 0px;
}

.direct-chat-text.notRead {
    background: #666;
    color: #fff;
}
.direct-chat-text > p,
.direct-chat-text > a {
	width : 100%;
}
.direct-chat-text p.pull-right,
.direct-chat-text a.pull-right {
	text-align: right;
}
.direct-chat-text.notRead:before,
.direct-chat-text.notRead:after {
    border-right-color: #666;
}
.dropzone .dz-message {
	font-size : 14px;
}
.dropzone.dz-drag-hover,
.dropzone.dz-drag-hover .chat-discussion {
	background : rgba(0,0,0,0.03);
}
.direct-chat-text img {
    max-width: 100%;
    max-height: 400px;
}
.list-title {
    color: #aaa;
    border-bottom: 1px solid #aaa;
    margin-top: 10px;
    margin-bottom: 0px;
}

.chat-room-users.show {
    display: inline-block !important;
    width: 100%;
}

.chat-room-users .btn-group {
	padding : 10px 0px;
}
.chat-room-users ul {
    display: block;
    padding: 0px;
}
.chat-room-users.myroom ul {
    margin-right: 100px;
}
.chat-room-users li{
	float : left;
    list-style: none;
    padding: 5px;
}
.chat-room-users img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
}
.btn-room-right {
    display: inline-block;
    float: right;
    padding: 10px;
}
.chat-user-name .label{
	margin : 0px 10px;
}
.can-error {
	transition: background 0.5s ease;
}
.can-error.has-div-error {
	background: #f8ac59;
}




/*
 * Component: Direct Chat
 * ----------------------
 */
.direct-chat .box-body {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  overflow-x: hidden;
  padding: 0;
}
.direct-chat.chat-pane-open .direct-chat-contacts {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.direct-chat-messages {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  padding: 10px;
  overflow: auto;
}
.direct-chat-msg,
.direct-chat-text {
  display: block;
}
.direct-chat-msg {
  margin-bottom: 10px;
}
.direct-chat-msg:before,
.direct-chat-msg:after {
  content: " ";
  display: table;
}
.direct-chat-msg:after {
  clear: both;
}
.direct-chat-messages,
.direct-chat-contacts {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.direct-chat-text {
  border-radius: 5px;
  position: relative;
  padding: 5px 10px;
  background: #F0F0F0;
  border: 1px solid #F0F0F0;
  margin: 5px 0px 0 50px;
  color: #444444;
}
.direct-chat-text:after,
.direct-chat-text:before {
  position: absolute;
  right: 100%;
  top: 15px;
  border: solid transparent;
  border-right-color: #F0F0F0;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
}
.direct-chat-text:after {
  border-width: 5px;
  margin-top: -5px;
}
.direct-chat-text:before {
  border-width: 6px;
  margin-top: -6px;
}
.right .direct-chat-text {
  margin-right: 50px;
  margin-left: 0;
}
.right .direct-chat-text:after,
.right .direct-chat-text:before {
  right: auto;
  left: 100%;
  border-right-color: transparent;
  border-left-color: #F0F0F0;
}
.direct-chat-img {
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px;
}
.right .direct-chat-img {
  float: right;
}
.direct-chat-info {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
}
.direct-chat-name {
  font-weight: 600;
}
.direct-chat-timestamp {
  color: #999;
}
.direct-chat-contacts-open .direct-chat-contacts {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.direct-chat-contacts {
  -webkit-transform: translate(101%, 0);
  -ms-transform: translate(101%, 0);
  -o-transform: translate(101%, 0);
  transform: translate(101%, 0);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 250px;
  width: 100%;
  background: #222d32;
  color: #fff;
  overflow: auto;
}
.contacts-list > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 0;
}
.contacts-list > li:before,
.contacts-list > li:after {
  content: " ";
  display: table;
}
.contacts-list > li:after {
  clear: both;
}
.contacts-list > li:last-of-type {
  border-bottom: none;
}
.contacts-list-img {
  border-radius: 50%;
  width: 40px;
  float: left;
}
.contacts-list-info {
  margin-left: 45px;
  color: #fff;
}
.contacts-list-name,
.contacts-list-status {
  display: block;
}
.contacts-list-name {
  font-weight: 600;
}
.contacts-list-status {
  font-size: 12px;
}
.contacts-list-date {
  color: #aaa;
  font-weight: normal;
}
.contacts-list-msg {
  color: #999;
}
.direct-chat-danger .right > .direct-chat-text {
  background: #dd4b39;
  border-color: #dd4b39;
  color: #ffffff;
}
.direct-chat-danger .right > .direct-chat-text:after,
.direct-chat-danger .right > .direct-chat-text:before {
  border-left-color: #dd4b39;
}
.direct-chat-primary .right > .direct-chat-text {
  background: #3c8dbc;
  border-color: #3c8dbc;
  color: #ffffff;
}
.direct-chat-primary .right > .direct-chat-text:after,
.direct-chat-primary .right > .direct-chat-text:before {
  border-left-color: #3c8dbc;
}
.direct-chat-warning .right > .direct-chat-text {
  background: #f39c12;
  border-color: #f39c12;
  color: #ffffff;
}
.direct-chat-warning .right > .direct-chat-text:after,
.direct-chat-warning .right > .direct-chat-text:before {
  border-left-color: #f39c12;
}
.direct-chat-info .right > .direct-chat-text {
  background: #00c0ef;
  border-color: #00c0ef;
  color: #ffffff;
}
.direct-chat-info .right > .direct-chat-text:after,
.direct-chat-info .right > .direct-chat-text:before {
  border-left-color: #00c0ef;
}
.direct-chat-success .right > .direct-chat-text {
  background: #00a65a;
  border-color: #00a65a;
  color: #ffffff;
}
.direct-chat-success .right > .direct-chat-text:after,
.direct-chat-success .right > .direct-chat-text:before {
  border-left-color: #00a65a;
}


/* main top nav */
.top-navigation .nav > li > a.top-menu-dropdown{
  padding:0px;
}
.top-menu-dropdown img{
    width: 45px;
    border-radius: 50%;
    height: 45px;
    border: 3px solid white;
}


@media (max-width: 992px) {
  .chat-users {
    max-height: 500px;
    height: inherit;
  }
}