<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Panel</title>
    <link rel="icon" href="img/favicon.ico">
    <link href="admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="admin/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Data Tables -->
    <link href="admin/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="admin/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="admin/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">

    <link href="admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="admin/css/animate.css" rel="stylesheet">
    <link href="admin/css/style.css" rel="stylesheet">
    <link href="admin/css/styles.css" rel="stylesheet">
</head>