<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" dropdown style="text-align: center;">
                    <img alt="image" class="img-circle" src="admin/img/donjin.jpg" style="width:100px;"/>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Administrator</strong>
                             </span>
                              
                            </span>
                    </a>
                  
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li ng-class="{active: $state.includes('mailbox')}">
                <a href = "/dashboard"><i class="fa fa-users"></i> <span class="nav-label">Users</span></a>
            </li>
            <li ng-class="{active: $state.includes('mailbox')}">
                <a href = "/faqMg"><i class="fa fa-envelope"></i> <span class="nav-label">FAQ</span></a>
            </li>
            <li ui-sref-active="active">
                <a href="/contactMg"><i class="fa fa-flask"></i> <span class="nav-label">ContactUS</span></a>
            </li>
        </ul>

    </div>
</nav>