<% include template/header.ejs %>
<body>
<div class="navbar-wrapper">
    <% include template/top_navigation.ejs %>
</div>
<div class="ibody">
    <div class="container">
        <div class = "ibox">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-9">
                <h2>FollowingUsers</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        FollowinUsers
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
              <% datas.forEach(function(data){ %>
                <div class="col-lg-4">
                    <div class="contact-box">
                        <a ui-sref="profile" href="/showDetailAccount/<%=data._id%>">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <img alt="image" class="img-circle m-t-xs img-responsive" src="/img/a2.jpg">
                                    <div class="m-t-xs font-bold">Graphics designer</div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong><%= data.username %></strong></h3>
                                <p><i class="fa fa-map-marker"></i> <%= data.email %></p>
                                <address>
                                    <strong>Description</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
              <% }) %>
            </div>
        </div>
        </div>
    </div>
</div>
<% include template/footer.ejs %>
</body>
</html>